<div class="form-field sign-up">
    <mat-form-field appearance="legacy" class="name-field">
        <mat-label>Name</mat-label>
        <input matInput
                [formControl]="name"
                type="email"
                placeholder="Name" required>
        <mat-error *ngIf="name.invalid">
            <!-- {{getFormFieldErrorMessage('name')}} -->
            Invalid Name
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="email-field">
        <mat-label>Email</mat-label>
        <input matInput
                [formControl]="email"
                type="email"
                placeholder="Email" required>
        <mat-error *ngIf="email.invalid">
            <!-- {{getFormFieldErrorMessage('email')}} -->
            Invalid Email
        </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy" class="password-field">
        <mat-label>Password</mat-label>
        <input matInput
                [formControl]="password"
                [type]="hide ? 'password' : 'text'"
                placeholder="Password" required>
        <mat-icon matSuffix class="hide-icon" (click)="togglePasswordHide()">
            {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="password.invalid">
            <!-- {{getFormFieldErrorMessage('password')}} -->
            Invalid Password
        </mat-error>
    </mat-form-field>
    <button mat-raised-button class="sign-up-button" (click)="signUp()">Sign Up</button>
</div>